h1{
    color: rgba(185, 66, 66, 0.959);
    text-align: center;
    font-size:40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img{
    display:block;
    margin:0 auto;
    width: 1050px;
}
body{
    background-color: rgba(128, 128, 128, 0.672);
}
h2{
    color: rgba(185, 66, 66, 0.959);
    text-align: center;
    font-size:40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
p{
    color: rgb(8, 8, 117);
    font-size:20px;
}
ol{
    color:blueviolet;
    font-style: oblique;
    font-size:15px;
}
h3{
    color: rgba(185, 66, 66, 0.959);
    text-align: center;
    font-size:40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}